modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true

[[ports]]
localPort = 20152
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
waitForPort = 5000

[nix]
channel = "stable-25_05"
packages = ["pkg-config", "cairo", "pango", "libjpeg", "giflib", "librsvg", "pixman", "unzipNLS"]
